@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

span {
  color: red;
  font-size: 13px;
}

input, button, textarea, h4 {
  font: 400 18px Roboto, sans-serif;
}

h4 {
  color: #737380;
  margin: 0;
}

input, button, textarea {
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 4px;
  padding: 10px 20px;
  line-height: 22px;
  margin-bottom: 10px;
}

label {
  margin-bottom: 10px;
  display:inline-block;
  font-size: 15px;
}

button {
  cursor: pointer;
  background: #4163e1;
  color: #fff;
}
